/* Remove default margins and padding */
html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

/* disable browser auto-fill highlighting */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}
.axis text {
  font-size: 11px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}



table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    border-width: 0px 0px 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
    color: rgb(34, 34, 34);
    padding: 5px;
    cursor: pointer;
    background-color: rgb(237, 237, 239);
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


td {
    margin: 0px;
    padding: 5px;
    height: 10px;
    border-top-color: rgb(221, 221, 221);
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
}


/* Final CSS */

/* Material UI global card CSS */
.card {
    margin: 0px;
    padding: 20px;
    text-align: center;
}

/* Flex Containers */

#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

#login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#map-container {
  flex-grow: 1;
  flex-basis: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

#widget-container {
  flex-grow: 1;
  flex-basis: 400px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

#scenario-container {
  flex-grow: 1;
  flex-basis: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.wgt-card {
    flex-basis: 400px;
    height: 300px;
    margin-bottom: 20px;
    text-align: center;
}

.leaflet-container {
    height: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
}

#widget-container .leaflet-container {
    width: 400px;
    height: 300px;
}


.controller-container {
    width: 100%;

}

.control-group {
    width: 50%;
    float: left;
}

.select-filter {
    width: 100%;
    text-align: left;
    float: left;
}

#table-container {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}
#table-controls {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.filter-column {
    flex-basis: 40%;
    margin-right:10%;
}

.filter-row { 
    flex-grow: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.tab-container {
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

/* Side Menu */

#side-menu {
    float: right;
}