/* Remove default margins and padding */
html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

/* disable browser auto-fill highlighting */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}
.axis text {
  font-size: 11px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}



#widget-container {
  flex-grow: 1;
  flex-basis: 400px;
  padding: 10px;
  text-align: center;
}

.leaflet-container {
    height: 600px;
   
}

.wgt-card {
    flex-basis: 400px;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}


.filter-column {
  flex-basis: 300px;
}


table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    border-width: 0px 0px 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
    color: rgb(34, 34, 34);
    padding: 5px;
    cursor: pointer;
    background-color: rgb(237, 237, 239);
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


td {
    margin: 0px;
    padding: 5px;
    height: 15px;
    border-top-color: rgb(221, 221, 221);
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
}


/* Final CSS */

/* Material UI global card CSS */
.card {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

/* Flex Containers */

#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

#map-container {
  flex-grow: 1;
  flex-basis: 600px;
  padding: 10px;
}